<form action="/signin" method="post">
    <link rel="stylesheet" href="/css/styles.css">
    <div>
        <label>Username:</label>
        <input name="username" id="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>